@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .my-scrollbar::-webkit-scrollbar {
    height: 8px;
  }
  .my-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .my-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(156 163 175);
    border-radius: 10px;
  }
}
